PORT=3000
DATABASE_URL=postgresql://user:password@host:5432/database
JWT_SECRET=ton_secret_ici
CLIENT_URL=http://localhost:5173
NODE_ENV=development



# pour voir la bdd de render les commandes a rentrer dans le terminal
# cd server
# DATABASE_URL="postgresql://zombieland_user:dk1NuBOjSWu2zh9HY6puUSMXeidJWwSC@dpg-d6tvdr4hg0os7382olm0-a.frankfurt-postgres.render.com/zombieland_tw3x?sslmode=require" npx prisma studio